#btn-comprimir {
    position: fixed;
    left: 30px;
    bottom: 130px;
}

.btn-group {
    margin-left: 70%;
    height: 100px;
}

iframe {
    width: 0%;
    height: 100px;
}

footer a {
    visibility: hidden;
}